*{
    padding: 0px;
    margin: 0px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}
body{
    letter-spacing: 0.5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
@font-face { font-family: "Ionicons"; src: url("../fonts/ionicons.eot"); src: url("../fonts/ionicons.eot") format("embedded-opentype"), url("../fonts/ionicons.ttf") format("truetype"), url("../fonts/ionicons.woff") format("woff"), url("../fonts/ionicons.svg") format("svg"); font-weight: normal; font-style: normal; }
.ion,
.ion-compose:before,
.ion-connection-bars:before,
.ion-ios-paperplane-outline:before,
.ion-steam:before,
.ion-android-contacts:before,
.ion-document:before,
.ion-ios-telephone:before,
.ion-ios-email:before{ display: inline-block; font-family: "Ionicons"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; text-rendering: auto; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.ion-compose::before{
    content: "\f12c"; 
}
.ion-connection-bars:before,{
    content: "\f274";
}
.ion-ios-paperplane-outline:before{
    content: "\f473";
}
.ion-steam:before { content: "\f30b"; }
.ion-android-contacts:before { content: "\f2d9"; }
.ion-document:before { content: "\f12f"; }
.ion-ios-telephone:before { content: "\f4b9"; }
.ion-ios-email:before { content: "\f423"; }
p{
    margin: 0 0 10px;
}
hr{
    margin-top: 5px;
    margin-bottom: 5px;
}
h1,h2{
    font-size: 22px;
    margin-bottom: 10px;
    margin-bottom: 10px;
}
.main-container{
    width: 100%;
    height: auto;
}

.r-ctnr{
    width: 100%;
    height: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}
.mhd-ctnr{
    padding-top: 10px;
    padding-bottom: 10px;
    background: #d0d0d0;
}
.menu-ctnr{
    padding-top: 10px;
    padding-bottom: 10px;
}
.mhd-ctnr p{
margin-top: 10px;
}
.col-6{
    width: 50%;
}
.navbar{
    width: 100%;
}
.nav-ctnr{
    width: 80%;
    display: table-cell;
}
.nav-ctnr li{
    list-style: none;
    padding: 15px;
    display: table-cell;
}
.nav-ctnr li a{
    text-decoration: none;
    color: #0e0e0e;
}
.nav-btn{
    width: 20%;
    display: table-cell;
}
.logo h4{
    margin: 15px 10px;
}
.r-ctnr:before,.r-ctnr:after{
    display: table;
    content: " ";
}
.r-ctnr:after{
    clear: both;
}
.r1-ctnr{
    background: #d0d0d0;
}
.r-ctnt{
    width: 90%;
    height: auto;
    margin: auto;
}
.one-side{
    width: 45%;
    background: #fff;
    display: inline-block;
}
.r-side{
    margin-left: 2%
}
.l-side
{
    margin-right: 2%
}
.r-btn{
    outline: none;
    border: none;
    padding: 15px 35px;
    background:green;
    border-radius: 4px;
    color:#fff;
    cursor: pointer;
    transition: all .25s ease-in-out;
}
.r-btn:hover{
   box-shadow: 1px 1px 9px 1px rgba(0, 128, 0, 0.75);
}

.hd-tbl{
    width: 100%;
    text-align: center;
}
.pl-rt{
    float: right;
}
.pl-lt{
    float: left;
}
.img-ctnt{
    width: 30%;
}
.img-ctnt img{
    min-height: 185px;
}
.txt-ctnt{
    width: 65%;
    padding: 10px;
}
.txt-ctnt-hd{
    color: #048c04;
}
img{
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.rates,.btn-ctnr{
    width: 50%;
    display: table-cell;
    vertical-align: middle;
}
.btn-ctnr{
    width: 30%;
}
.r2-ctnr{
    background: green;
    padding-bottom: 0px;
    padding-top: 0px;
}
.r2-ctnt{
    width: 100%;
}
.r2-txt-ctnr,.r2-img-ctnt{
    width: 50%;
}
.r2-txt-ctnt{
    width: 70%;
    margin: auto;
    padding: 20px;
    margin-top: 6%;
    background: #fff;
}
.r3-ctnr{
    background: #fff;
}
.cl3{
    width: 33%;
}
.pnl-ctnr{
    width: 98%;
    padding: 15px;
    text-align: center;
}
.pnl-body,
.pnl-head{
    padding-bottom: 15px;
}
.pnl-icon{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    text-align: center;
    background: green;
    color:white;
    line-height: 120px;
    font-size: 25px;
    margin: auto;
}
.pnlbtn-cntnr{
    margin: auto;
    text-align: center;
}
@media only screen and (max-width:768px){
    .col-2{
        float:none !important;
        text-align: center;
    }
    .col-2 p{
        text-align: center;
    }
    .col-6{
        float: none !important;
        margin: auto;
        width: 100%;
        text-align: center;
    }
.logo h4 {
   
    text-align: center;
}
.one-side{
    width: 90%;
    margin: 0 auto;
    display: table;
    margin-bottom: 15px;
}
.r2-txt-ctnr,.r2-img-ctnt{
    width: 90%;
    margin: auto;
    float: none !important;
    margin-bottom: 15px;
}
.r2-txt-ctnt{
    width: 100%;
}
}
@media only screen and (max-width:480px){
    .pl-lt,.pl-rt{
        float: none;
    }
    h1{
        font-size: 20px;
    }
    .cl3{
        width: 90%;
        margin: auto;
        float: none;
    }
    .navbar{
        width: 100%;
    margin: auto;
    }
    .nav-ctnr{
        width: 95%;
        display: block;
        margin: auto;
    }
    .nav-btn{
        width: 100%;
    margin: auto;
    display: block;
    }
    .txt-ctnt{
        width: 100%;
    }
    .txt-ctnt-hd,.txt-ctnt-body{
        text-align: center;
    }
    .img-ctnt{
        width: 70%;
        margin: auto;
        text-align: center;
        margin-top: 10px;
    }
    .pnl-icon{
        width: 100px;
        height: 100px;
        line-height: 100px;
    }

}

    
